<!DOCTYPE html>
<html style="font-size: 20px;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=1.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="renderer" content="webkit">
    <meta name="title" content="share.js" />
    <meta name="site" content="http://www.yujiacun.net" />
    <title>瑜伽村网站</title>
    <link rel="stylesheet" href="/static/css/share.min.css" crossorigin="anonymous" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- 版本号要和package.json一致 -->
    <!-- <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/element-ui/2.9.2/index.js"></script> -->

    <!-- <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/elementui.min.js"></script> -->

  </head>
  <script>
    // baidugongneng();
    baidutongji();

    // 百度功能
    function baidugongneng() {
      var isProd = '<%= process.env.NODE_ENV %>' === 'production'
      if (isProd) {
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?85109188323e2bfc68e8fbe01f717cfb";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
      }
    }
    // 百度统计
    function baidutongji() {
      var isProd = '<%= process.env.NODE_ENV %>' === 'production'
      if (isProd) {
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?37e253bf0a8429a614c7b3ac76807f14";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
      }
    }
  </script>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="/static/js/jquery.min.js" crossorigin="anonymous" ></script>
    <script src="/static/js/popper.min.js" crossorigin="anonymous" ></script>
    <script src="/static/js/bootstrap.min.js" crossorigin="anonymous" ></script>
  </body>
</html>
<script language="javascript"> 
// /*
  (function() {
    function wapDetailRouter() {
      var match_reg = {
        cultivate: /(\/cultivate\/detail\/)(\d+)/, // 培训信息
        joinclubhouse: /(\/joinclubhouse\/joinclubhousedetails\?id=)(\d+)/, // 培训机构
        yogoteacher: /(\/yogoteacher\/yogoteacherdetails\?id=)(\d+)/, // 名师
        yogoknowledge: /(\/yogoknowledge\/yogoknowledgedetails\?id=)(\d+)/, // 瑜伽知识
        yogoinformation: /(\/yogoinformation\/yogoinformationdetails\?id=)(\d+)/, // 瑜伽信息
        goods: /(\/goods\/detail\/)(\d+)/, // 商城
      }
      var match_map = {
        cultivate: function cultivate(id) {
          return "/wap/index.html#/messagedetail/".concat(id);
        },
        joinclubhouse: function joinclubhouse(id) {
          return "/wap/index.html#/teacherClub/clubhouseDetails?id=".concat(id);
        },
        yogoteacher: function yogoteacher(id) {
          return "/wap/index.html#/teacherClub/teacherDetails?id=".concat(id);
        },
        yogoknowledge: function yogoknowledge(id) {
          return "/wap/index.html#/knowledgedetail/".concat(id);
        },
        yogoinformation: function yogoinformation(id) {
          return "/wap/index.html#/informationdetail/".concat(id);
        },
        goods: function goods(id) {
          return "/wap/index.html#/goods/detail/".concat(id);
        }
      }
      var match_reg_arr = Object.keys(match_reg)
      for(let i = 0; i < match_reg_arr.length; i ++){
        var has_match = location.href.match(match_reg[match_reg_arr[i]])
        if(has_match) {
          var page_id = has_match[2]
          return match_map[match_reg_arr[i]](page_id)
          break; 
        }
      }
      return null;
    }
    console.log(wapDetailRouter());

    var sUserAgent = navigator.userAgent;
    if (sUserAgent.indexOf('Android') > -1 || sUserAgent.indexOf('iPhone') > -1 || sUserAgent.indexOf('iPad') > -1 || sUserAgent.indexOf('iPod') > -1 || sUserAgent.indexOf('Symbian') > -1) {
      var obj = {
        '/': '/wap/index.html#/main', //  首页
        '/main': '/wap/index.html#/main', //  首页
        '/joinclubhouse': '/wap/index.html#/teacherClub/list', // 培训机构
        '/yogoteacher': '/wap/index.html#/teacherClub/list', // 瑜伽名师 
        '/yogoknowledge': '/wap/index.html#/yogaknowledge',  // 瑜伽知识
        '/yogoinformation': '/wap/index.html#/yagainformation', // 瑜伽资讯
        '/market/index': '/wap/index.html#/store/category',  // 商城
        '/cultivate/index': '/wap/index.html#/yogamessage/list', // 培训信息
        '/aboutus': '/wap/index.html#/aboutUs'
      }
      if(obj[location.pathname]){
        location.href =  window.location.origin + obj[location.pathname];
      } else if(wapDetailRouter()) {
        console.log(wapDetailRouter());
        location.href =  window.location.origin + wapDetailRouter()
      } else {
        location.href =  window.location.origin + '/wap/index.html';
      }
    } else {}
  })(); 
// */
</script>
<script>
!(function(){
    new function () {
        var _self = this;
        _self.width = 750;
        var ClientUA = navigator.userAgent;
        if (ClientUA.indexOf("Redmi 3") >= 0) {
            _self.fontSize = 15
        } else if (ClientUA.indexOf("MI NOTE Pro") >= 0) {
            _self.fontSize = 25
        } else {
            _self.fontSize = 18
        }
        _self.widthProportion = function () {
            var p = (document.body && document.body.clientWidth || document.getElementsByTagName("html")[0].offsetWidth) /
                _self.width;
            return p > 1 ? 1 : p < .3 ? .3 : p
        };
        _self.changePage = function () {
            document.getElementsByTagName("html")[0].setAttribute("style", "font-size:" + _self.widthProportion() * _self
                .fontSize + "px !important")
        };
        _self.changePage();
        window.addEventListener("resize", function () {
            _self.changePage()
        }, false)
    };

}())
</script>
